<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Demo ReactJs</title>
    <script src="lib/react.js"></script>
    <script src="lib/react-dom.js"></script>
    <script src="lib/browser.min.js"></script>
</head>
<style>
    .mauvang {
        background-color: aquamarine
    }
</style>
<body>
<div id="root"></div>
<div id="root2"></div>
<script src="xuly.js" type="text/babel">

</script>
</body>
</html>